<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><%- title %></title>
        <link href="../styles/global.css" rel="stylesheet" type="text/css"> 
        <script src="../scripts/parse.js"></script>
        <script src="../scripts/tokens.js"></script>
        <script src="../lib/jquery.min.js"></script>

        <script src="../scripts/main.js" data-cover></script>
    </head>
    <body>
       <%- body %>
    </body>
</html>
